30 07 * * * python core/db/cron.py >> /app/log/snapshooter.log 2>&1
15 15 * * * python core/db/cron.py >> /app/log/snapshooter.log 2>&1
30 21 * * * python core/db/cron.py >> /app/log/snapshooter.log 2>&1
